.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.new-tweet {
  position: relative;
  background-color: #ededee;
  border: 1px solid #cdcccd;
  border-radius: 3px;
  padding: 0.5rem;
}

.new-tweet h2 {
  display: block;
  border-bottom: 1px solid black;
  margin-top: 0;
}

.new-tweet textarea {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}

.new-tweet .counter {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.new-tweet .counter.invalid {
  color: red;
}


.tweet:hover {
  border-color: lightgrey;
}

.tweet {
  margin-top: 1rem;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.tweet:hover header {
  opacity: 1;
}

.tweet header {
  padding: 0.5rem;
  background: #ededee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.8;
}

.tweet header .user-icon {
  display: inline-block;
  border-radius: 5px;
  float: left;
  width: 64px;
  height: 64px;
}

.tweet header .user-name {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0.5rem;
  font-size: 200%;
}

.tweet header .user-handle {
  float: right;
}

.tweet .text {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 120%;
}

.tweet:hover footer .button-group {
  display: block;
}

.tweet footer {
  border-top: 1px solid #ededee;
  padding: 0.5rem;
  position: relative;
  height: 40px;
}

.tweet footer .date {
  font-size: 85%;
  vertical-align: middle;
}

.tweet footer .button-group {
  display: none;
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  line-height: 40px;
}

.tweet footer .button-group button {
  margin-left: 0.5rem;
  vertical-align: middle;
  line-height: normal;
  padding: 0;
  border-style: none;
  background: none;
  color: #60c5b7;
}